<div class="content">
    <h2>Choose your Teams</h2>
    <div class="selection">
        <h3>Team 1</h3>
        <button *ngIf="!p1" (click) = "logPlayer('Pilot', 'Red', 1, 'p1')">Pilot Team 1</button>
        <button *ngIf="!g1" (click) = 'logPlayer("Gunner", "Red", 1, "g1")'>Gunner Team 1</button>
    </div>
    <div class="selection">
        <h3>Team 2</h3>
        <button *ngIf="!p2" (click) = 'logPlayer("Pilot", "Blue", 2, "p2")'>Pilot Team 2</button>
        <button *ngIf="!g2" (click) = 'logPlayer("Gunner", "Blue", 2, "g2")'>Gunner Team 2</button>
    </div>

    <!-- <div *ngIf = "game_full"> -->
      <app-lobby
        [g1]='g1'
        [g2]='g2'
        [p1]='p1'
        [p2]='p2'
        [game_full]='game_full'
        [role]='role'
        [team]='team'>
      </app-lobby>
    <!-- </div> -->

</div>


