<div class="content">
    <h1>Choose your Role</h1>
    <div class="selection">
        <h3>Red Team</h3>
        <button @ghost *ngIf="!p1" (click) = "logPlayer('Pilot', 'Red', 1, 'p1')" class="red" >Red Pilot</button>
        <button @ghost *ngIf="!g1" (click) = 'logPlayer("Gunner", "Red", 1, "g1")' class="red" >Red Gunner</button>
    </div>
    <div class="selection">
        <h3>Blue Team</h3>
        <button @ghost *ngIf="!p2" (click) = 'logPlayer("Pilot", "Blue", 2, "p2")' class="blue" >Blue Pilot</button>
        <button @ghost *ngIf="!g2" (click) = 'logPlayer("Gunner", "Blue", 2, "g2")' class="blue" >Blue Gunner</button>
    </div>

    <!-- <div *ngIf = "game_full"> -->
      <app-lobby
        [g1]='g1'
        [g2]='g2'
        [p1]='p1'
        [p2]='p2'
        [game_full]='game_full'
        [role]='role'
        [team]='team'
        >
      </app-lobby>
    <!-- </div> -->

</div>


