<div class="content">
    <div class="video">
        <div class="overlay">
            <img src="assets/images/interface_{{color}}.png" alt="">
            <div class="health_outer">
                <div  class="health_inner" [@healthMeter]="healthChange"></div>
            </div>

            <div *ngIf="ui" class="missiles">
              <!-- <img **ngFor="missile in missiles" src="assets/images/missile.png" alt=""> -->
              <img src="assets/images/missile.png" alt="">
              <img src="assets/images/missile.png" alt="">
            </div>
            <div *ngIf="ui" class="bullets">
              <!-- <img **ngFor="bullet in bullets" src="assets/images/bullet.png" alt=""> -->
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
              <img src="assets/images/bullet.png" alt="">
            </div>
        </div>
        <canvas id="renderCanvas"></canvas>
    </div>
</div>
<!-- <select>
  <option value="1" (change) = 'teamno'>1</option>
  <option value="2" (change) = 'teamno'>2</option>
</select> -->
<button (click)="sendMsg('up1', 'asdf')">up1</button>
<button (click)="sendMsg('down1', 'asdf')">down1</button>
<button (click)="sendMsg('left1', 'asdf')">left1</button>
<button (click)="sendMsg('right1', 'asdf')">right1</button>
<button (click)="sendMsg('forward1', 'asdf')">forward1</button>
<button (click)="sendMsg('back1', 'asdf')">back1</button>
<button (click)="sendMsg('cw1', 'asdf')">clock wise1</button>
<button (click)="sendMsg('ccw1', 'asdf')">counter clock wise1</button>
<button (click)="sendMsg('up2', 'asdf')">up2</button>
<button (click)="sendMsg('down2', 'asdf')">down2</button>
<button (click)="sendMsg('left2', 'asdf')">left2</button>
<button (click)="sendMsg('right2', 'asdf')">right2</button>
<button (click)="sendMsg('forward2', 'asdf')">forward2</button>
<button (click)="sendMsg('back2', 'asdf')">back2</button>
<button (click)="sendMsg('cw2', 'asdf')">clock wise2</button>
<button (click)="sendMsg('ccw2', 'asdf')">counter clock wise2</button>
<!-- <input type="textbox" (keydown)="keyDown($event)"> -->
<button (click)="sendMsg('start1', 'fff')">Start1</button>
<button (click)="sendMsg('stop1', 'fff')">Stop1</button>
<button (click)="sendMsg('start2', 'fff')">Start2</button>
<button (click)="sendMsg('stop2', 'fff')">Stop2</button>

<!-- <button [routerLink]="['']">Home</button> -->
