
.video {
  width: 1280px;
  height: 720px;
  margin-top: -18.5px;
  background-color: pink;
}

img {
  width: 100%;
}

.video img:first-child {
  position: absolute;
  width: 1280px;
}

.health_outer {
  border: 3px black solid;
  /* box-sizing: border-box; */
  height: 40px;
  width: 500px;
}

.health_inner {
  background-color: red;
  height: 40px;
  width: 500px;
}
