<div class='content'>
  <h1>Plyer Lobby</h1>


  <div>
    <h2>Ready Players</h2>

  </div>

  <div>
    <h2>Waiting for</h2>

  </div>

  <div>
    <!-- <button (click) = 'startGame()' >Start Game</button> -->
    <!-- <div>
      <table>
        <tr>
          <td>Team 1</td><td>Team 2</td>
        </tr>
        <tr>
          <td>{{players['1']['0']['name']}} {{players['1']['0']['role']}}</td><td>{{players['2']['0']['name']}} {{players['2']['0']['role']}}</td>
        </tr>
        <tr>
          <td>{{players['1']['1']['name']}} {{players['1']['1']['role']}}</td><td>{{players['2']['1']['name']}} {{players['1']['1']['role']}}</td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <tr>
          <th>Team 1</th>
          <td>{{team1}} Drone: {{team1['drone']}} Health: {{team1['health']}} Missiles: {{team1['missile']}} model: {{team1['model']}} team id: {{team1['team_id']}} </td>
        </tr>
        <tr>
          <th>Team 2</th>
            <td>{{team2}} Drone: {{team2['drone']}} Health: {{team2['health']}} Missiles: {{team2['missile']}} model: {{team2['model']}} team id: {{team2['team_id']}} </td>
        </tr>
      </table>
    </div>
  </div> -->
</div>
