h1 {
  text-align: center;
}

.wrapper {
  width: 1280px;
  height: 720px;
  position: relative;
  margin: 20px auto;
  box-sizing: border-box;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
