/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  /* border: red dashed .1px; */
}

p, th, td, li, h1, h2, h3, h4, label{
  margin-bottom: 5px;
  font-family: Helvetica, Arial, sans-serif;
}

p, li {
  padding: 5px 10px;
}

h1, h2, h3, h4, label {
  padding: 10px 20px;
}

form, table {
  margin: 20px 10px;
}

a {
  color: rgb(39, 175, 230);
  text-decoration-line: none;
}
  a:hover {
      text-decoration-line: underline;
  }
  input, select, button, a[class=button], textarea {
    display: block;
    width: 100%;
    height: 40px;
    margin: 10px auto 5px auto;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
}
input[type=submit] {
  background-color: rgb(39, 175, 230);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  width: 150px;
}
  input[type=submit]:hover {
    background-color: rgb(15, 135, 182);
  }
button, a[class=button] {
  background-color: rgba(249, 241, 241, 0.8);
  color: #666666;
  font-size: 15px;
  border: solid 1px #666666;
  border-radius: 10px;
  width: 150px;
  outline: 0;
  transition : all 0.1s ease 0s;
}
  button:hover, a[class=button]:hover {
    height: 39px;
    width: 149px;
    font-size: 15px;
    box-shadow: 1px 1px black;
    text-decoration-line: none;
  }

a[class=button] {
  padding-top: 10px;
  text-align: center;
}
textarea {
  height: 80px;
}

